<article class="mw7 center ph3 ph5-ns tc br2 pv5 mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Thinking about a new place to Eat?
  </h1>
  <p class="fw1 f5 mt0 mb3">
    Search and view places and businesses.
  </p>
  <div>
   <div class="home-search">
     <input type="text" placeholder="Search places">
    <input type="submit" value="Search" class="submit-button btn white bg-dark-blue">
   </div>
  </div>
</article>